input {
    padding: 10px 20px;
    margin-bottom: 30px;
    font-weight: bold;
    border: solid 1px;
    border-radius: 10px;
}

.lcolor {
    color: red;
    font-weight: bolder;
}

.HookProps {
    margin-top: 30px;
    
}